{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}


{% block main %}

  <div class="container-fluid">
    <h1>Amazon Tracker</h1>
    <p class="intro_text">enter the url of the product you want to track and we'll let you know if the price decreases</p>

        <div class="forms">

            {{ wtf.quick_form(form, action=url_for('main.home') ) }}

            <div >
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class="warning_msg">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

        </div>


  </div>



{% if current_user.is_authenticated %}

<div class="items" id="products">
    <div class="container-fluid">
            <h3>Products on your list</h3>

{% if items is not none %}
    <div class="row_items">
      {% for i in items%}
      <div class="card">
        <div class="card-body">
          {% if i.product_title is not none%}
          <h5 class="card-title">{{ i.product_title }}</h5>
          {% else %}
          <h5 class="card-title">Product</h5>
          <i class="info">could not determine the product's name</i>
          {% endif %}
          <p class="card-text">
          <p>Price limit: ${{ i.price_limit }}</p>
          <a href="{{ i.url }}" target="_blank" title="Go to the product"><i class="far fa-eye icon_prod"></i></a>
          <a href="{{ url_for('main.delete', product_id = i.id) }}" title="Delete the product from your list"><i class="fas fa-trash-alt icon_prod"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
{% else %}
<p class="para_text">no product added to your watchlist!</p>
{% endif %}

    </div>
</div>
{% endif %}




{% endblock %}
